Repository zhizhunbao/ottawa-genai-research-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-todo-fixme, no-deprecated-datetime, no-deprecated-collections, no-empty-functions, no-hardcoded-data, frontend-type-check, no-console-log, no-hardcoded-urls

no-todo-fixme:
  name: No TODO/FIXME markers
  entry: bash -c 'if grep -r "TODO\|FIXME\|HACK\|XXX" --include="*.py" backend/; then echo "❌ Found TODO/FIXME markers - these are prohibited!"; exit 1; fi'
  language: system

no-deprecated-datetime:
  name: No deprecated datetime methods
  entry: bash -c 'if grep -r "datetime\.utcnow()\|datetime\.utcfromtimestamp(" --include="*.py" backend/; then echo "❌ Found deprecated datetime methods - use datetime.datetime.now(datetime.timezone.utc) instead!"; exit 1; fi'
  language: system

no-deprecated-collections:
  name: No deprecated collections imports
  entry: bash -c 'if grep -r "from collections import.*\(Mapping\|Sequence\)" --include="*.py" backend/; then echo "❌ Found deprecated collections imports - use collections.abc instead!"; exit 1; fi'
  language: system

no-empty-functions:
  name: No empty function implementations
  entry: bash -c 'if grep -r "def.*:\s*pass" --include="*.py" backend/ | grep -v "class.*Interface\|@abc.abstractmethod"; then echo "❌ Found empty function implementations - complete implementation required!"; exit 1; fi'
  language: system

no-hardcoded-data:
  name: No hardcoded business data
  entry: bash -c 'if grep -r "return \[.*{.*\".*\".*:.*\".*\".*}.*\]" --include="*.py" backend/ | grep -v test; then echo "❌ Found hardcoded business data - use Repository pattern with monk/ directory!"; exit 1; fi'
  language: system

frontend-type-check:
  name: Frontend TypeScript type check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

no-console-log:
  name: No console.log in frontend
  entry: bash -c 'if grep -r "console\.log\|console\.warn\|console\.error" --include="*.ts" --include="*.tsx" frontend/src/ | grep -v "// eslint-disable-next-line"; then echo "❌ Found console statements in frontend - use proper logging!"; exit 1; fi'
  language: system

no-hardcoded-urls:
  name: No hardcoded URLs in frontend
  entry: bash -c 'if grep -r "http://\|https://" --include="*.ts" --include="*.tsx" frontend/src/ | grep -v "process\.env\|config\|constant"; then echo "❌ Found hardcoded URLs - use environment variables!"; exit 1; fi'
  language: system

Update backend requirements.txt and sync with root, update document service and data files
  backend/app/services/document_service.py
  backend/monk/documents/documents.json
  backend/monk/users/users.json
  backend/pyproject.toml
  backend/requirements.txt
  requirements.txt
Due: no-todo-fixme, no-deprecated-datetime, no-deprecated-collections, no-empty-functions, no-hardcoded-data

� v1.4.1: Critical datetime fix in authentication service
  README.md
  docs/Project Status Report.md
Due: none

feat: System enhancement and UI improvements v1.4.2
  README.md
  backend/app/api/auth.py
  backend/main.py
  backend/monk/users/users.json
  docs/Project Status Report.md
  frontend/src/pages/ChatPage.css
Due: no-todo-fixme, no-deprecated-datetime, no-deprecated-collections, no-empty-functions, no-hardcoded-data

Fix documentation references in README.md - Remove references to non-existent files and update to existing docs
  README.md
  backend/monk/users/users.json
  docs/CODING_STANDARDS.md
  docs/DEPLOYMENT.md
  docs/Data Management Guide.md
  docs/INTEGRATION_TESTING.md
  docs/Product Requirements Document (PRD).md
  docs/Project Status Report.md
  docs/System Architecture Guide.md
  docs/TEST_STATUS_REPORT.md
  frontend/src/pages/ChatPage.css
  frontend/src/pages/ChatPage.tsx
Due: frontend-type-check, no-console-log, no-hardcoded-urls

Remove .cursorignore and create_migration_package.py from version control
  .cursorignore
  .gitignore
  create_migration_package.py
Due: none

docs: restructure documentation, update automation scripts, and refine PRD validation
  .gitignore
  AGENTS.md
  README.md
  backend/uv.lock
  backups/2026-01-23_18-45-46/docs/legacy/prd_old_archive.md
  backups/2026-01-23_18-45-46/docs/legacy/product-requirements-document.md
  backups/2026-01-23_18-45-46/docs/legacy/project-brief.md
  backups/2026-01-23_18-45-46/docs/legacy/project-code-review.txt
  docs/changelog.md
  docs/codemaps/backend.md
  docs/codemaps/database.md
  docs/codemaps/frontend.md
  docs/codemaps/index.md
  docs/codemaps/integrations.md
  docs/contributing.md
  docs/guides/api.md
  docs/guides/deployment.md
  docs/guides/kiro-docs-automation.md
  docs/guides/setup.md
  docs/index.md
  docs/project/changelog.md
  docs/project/contributing.md
  docs/reports/codemap-diff.txt
  docs/reports/doc-update.txt
  docs/reports/doc-validation.txt
  docs/reports/link-check.txt
  docs/reports/prd-validation.md
  docs/requirements/README.md
  docs/requirements/features/prd_analytics.md
  docs/requirements/master_prd.md
  docs/requirements/phase1_internal_rag.md
  docs/requirements/phase1_prd.md
  docs/requirements/phase2_external_integration.md
  docs/requirements/phase2_prd.md
  docs/requirements/phase3_prd.md
Due: none

chore: stop tracking AGENTS.md
  AGENTS.md
Due: none

docs: upgrade all project READMEs and update python version requirement to 3.12
  README.md
  backend/README.md
  docs/guides/setup.md
  docs/project/contributing.md
  docs/reports/doc-update.txt
  frontend/README.md
  pyproject.toml
Due: none

feat: add dev-scrum skill and Sprint Planning document
  docs/sprints/Sprint_Plan_Ottawa_GenAI_Research_Assistant.md
  docs/sprints/Sprint_Plan_Ottawa_GenAI_Research_Assistant.pdf
Due: none

feat(backend): implement Azure services for Sprint 1 (US-102, US-103, US-104)
  backend/.env.example
  backend/app/core/azure_openai.py
  backend/app/core/azure_search.py
  backend/app/core/azure_storage.py
  backend/app/core/config.py
  backend/app/core/dependencies.py
  backend/app/documents/routes.py
  backend/app/documents/schemas.py
  backend/app/documents/service.py
  backend/app/research/routes.py
  backend/app/research/service.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/core/test_azure_openai.py
  backend/tests/core/test_azure_search.py
  backend/tests/core/test_azure_storage.py
  backend/tests/documents/test_upload.py
  backend/uv.lock
  docs/plans/US-102-azure-storage-plan.md
  docs/plans/US-103-azure-search-plan.md
  docs/plans/US-104-azure-openai-plan.md
Due: no-todo-fixme, no-deprecated-datetime, no-deprecated-collections, no-empty-functions, no-hardcoded-data

docs: clean up reports and update Sprint Plan
  docs/architecture/system-architecture.md
  docs/reports/codemap-diff.txt
  docs/reports/doc-update.txt
  docs/reports/doc-validation.txt
  docs/reports/implementation-readiness-report.md
  docs/reports/link-check.txt
  docs/reports/prd-validation.md
  docs/sprints/Sprint_Plan_Ottawa_GenAI_Research_Assistant.md
  pyproject.toml
  uv.lock
Due: none

feat(backend): add health check endpoints for Azure services (P1 complete)
  backend/app/health/__init__.py
  backend/app/health/routes.py
  backend/app/health/schemas.py
  backend/app/health/service.py
  backend/app/main.py
  backend/tests/health/__init__.py
  backend/tests/health/test_health.py
  docs/sprints/Sprint_Plan_Ottawa_GenAI_Research_Assistant.md
Due: no-todo-fixme, no-deprecated-datetime, no-deprecated-collections, no-empty-functions, no-hardcoded-data

feat: implement Azure Entra ID authentication (US-105)
  backend/.env.example
  backend/app/core/azure_auth.py
  backend/app/core/config.py
  backend/app/core/dependencies.py
  docs/sprints/Sprint_Plan_Ottawa_GenAI_Research_Assistant.md
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/auth/components/MsalAuthProvider.tsx
  frontend/src/features/auth/config/msalConfig.ts
  frontend/src/features/auth/hooks/useAuth.ts
  frontend/src/features/auth/hooks/useLogin.ts
  frontend/src/main.tsx
Due: no-todo-fixme, no-deprecated-datetime, no-deprecated-collections, no-empty-functions, no-hardcoded-data, frontend-type-check, no-console-log, no-hardcoded-urls

docs: mark US-105 Azure Entra ID authentication as complete
  docs/plans/US-105-azure-entra-id-plan.md
  docs/sprints/Sprint_Plan_Ottawa_GenAI_Research_Assistant.md
Due: none

docs: add shadcn/ui migration plan US-106
  docs/plans/US-106-shadcn-ui-migration.md
  frontend/src/app/App.tsx
  frontend/src/shared/components/layout/AuthLayout.tsx
  frontend/src/shared/components/layout/DashboardLayout.tsx
  frontend/src/shared/components/layout/MainLayout.tsx
  frontend/src/shared/components/layout/PageContainer.tsx
  frontend/src/shared/components/layout/index.ts
  frontend/src/shared/styles/index.ts
  frontend/src/shared/styles/theme.ts
  frontend/tailwind.config.js
Due: frontend-type-check, no-console-log, no-hardcoded-urls

chore: remove temporary git status file
  git_status.txt
Due: none

docs: un-ignore and add architectural analysis and reference README
  .github/references/ARCHITECTURE_ANALYSIS.md
  .github/references/README.md
  .gitignore
Due: none

fix(auth): align frontend auth flow with backend JWT endpoints
  frontend/package-lock.json
  frontend/src/features/auth/components/auth-dialog.tsx
  frontend/src/features/auth/components/msal-auth-provider.tsx
  frontend/src/features/auth/hooks/use-login.ts
  frontend/src/features/auth/hooks/use-register.ts
  frontend/src/features/auth/services/auth-api.ts
Due: frontend-type-check, no-console-log, no-hardcoded-urls

Path conditions:
  no-todo-fixme: any of: ^backend/.*\.py$
  no-deprecated-datetime: any of: ^backend/.*\.py$
  no-deprecated-collections: any of: ^backend/.*\.py$
  no-empty-functions: any of: ^backend/.*\.py$
  no-hardcoded-data: any of: ^backend/.*\.py$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
  no-console-log: any of: ^frontend/src/.*\.(ts|tsx)$
  no-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx)$
